<main class="bg-gray-700 p-10">
    <div class="hero p-10 bg-base-200 rounded-3xl">
        <div class="hero-content flex-col lg:flex-row">
          <div>
            <h1 class="text-4xl font-bold">Username</h1>
            <h1 class="text-2xl font-bold">email</h1>
            <h1 class="text-2xl font-bold">Games Reviewed:</h1>
          </div>
        </div>
      </div>


      <section class="review-section hero p-10 bg-base-200 rounded-3xl my-5">
        <div class="flex flex-wrap justify-evenly lg:flex-row wrap">
            <div class="card w-96 m-5 bg-base-100 shadow-xl">
                <div class="card-body">
                    <div class="card-title flex justify-between">
                        <h2>Game Title</h2>
                            <div class="flex-none dropdown">
                                <button tabindex="0" role="button" class="btn btn-square btn-ghost">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path></svg>
                                </button>
                                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                                    <li><a href="#">Update</a></li>
                                    <li><a href="#">Delete</a></li>
                                  </ul>
                            </div>
                    </div>
                    <div class="rating rating-xs">
                        <input type="radio" name="rating-5" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-5" class="mask mask-star-2 bg-orange-400" checked />
                        <input type="radio" name="rating-5" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-5" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-5" class="mask mask-star-2 bg-orange-400" />
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio</p>
                    <p>By: Reviewer</p>
                </div>
            </div>
            <div class="card w-96 m-5 bg-base-100 shadow-xl">
                <div class="card-body">
                  <h2 class="card-title">Review Title</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio</p>
                  <p>By: Reviewer</p>
                </div>
            </div>
            <div class="card w-96 m-5 bg-base-100 shadow-xl">
                <div class="card-body">
                  <h2 class="card-title">Review Title</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio</p>
                  <p>By: Reviewer</p>
                </div>
            </div>
            <div class="card w-96 m-5 bg-base-100 shadow-xl">
                <div class="card-body">
                  <h2 class="card-title">Review Title</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio</p>
                  <p>By: Reviewer</p>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="/js/profile.js"></script>