<main class="p-10 min-h-screen bg-cover" style="background-image: url(/assets/profile2.jpg);">
    <div class="glass p-10 bg-base-200 rounded-3xl">
        <div class="flex-col lg:flex-row">
          <div>
            <h1 class="text-4xl text-white font-bold">{{user.name}}</h1>
            <h1 class="text-2xl text-white font-bold">{{user.email}}</h1>
          </div>
        </div>
      </div>

      <section class="glass review-section hero p-10 bg-base-200 rounded-3xl my-5">
        <div>
          <h1 class="text-2xl text-center text-white font-bold">My Reviews:</h1>
          <div class="flex flex-wrap justify-evenly lg:flex-row wrap">
              {{#each reviews}}
              <div class="card w-96 m-5 bg-base-100 shadow-xl">
                  <div class="card-body">
                      <div class="card-title flex justify-between">
                          <h2>{{this.gameName}}</h2>
                              <div class="flex-none dropdown">
                                  <button tabindex="0" role="button" class="btn btn-square btn-ghost">
                                    <i class="fa-solid fa-ellipsis"></i></button>
                                  <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                                      <li><a href="#">Update</a></li>
                                      <li><a href="#">Delete</a></li>
                                    </ul>
                              </div>
                      </div>
                      <div class="rating rating-xs">
                          <input type="radio" name="rating-5" class="mask mask-star-2 bg-orange-400" />
                          <input type="radio" name="rating-5" class="mask mask-star-2 bg-orange-400" checked />
                          <input type="radio" name="rating-5" class="mask mask-star-2 bg-orange-400" />
                          <input type="radio" name="rating-5" class="mask mask-star-2 bg-orange-400" />
                          <input type="radio" name="rating-5" class="mask mask-star-2 bg-orange-400" />
                      </div>
                      <p>{{this.description}}</p>
                  </div>
              </div>
              {{/each}}
          </div>
        </div>
    </section>

  <script src="/js/profile.js"></script>
</main>


