<main class="bg-gray-700 flex flex-wrap justify-evenly p-10">
    <section id="friend-list" class="card w-1/3 bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Friends List</h2>
          <p>Friend 1</p>
          <p>Friend 2</p>
          <p>Friend 3</p>
        </div>
    </section>
    <section id="add-friend" class="card w-1/3 bg-base-100 shadow-xl">
        <div class="">
            <div class="card-body">
            <h2 class="card-title">Add Friend</h2>
            <label class="input input-bordered flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" /></svg>
                <input type="text" class="grow" placeholder="Username" />
            </label>
            <div class="card-actions justify-end">
                <button class="btn btn-primary">Add Friend</button>
            </div>
            </div>
        </div> 
    </section>

</main>

{{!-- <script src="/js/social.js"></script> --}}